.App {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link.active {
  background-color: gray;
  color: darkblue;
}

.TodoCard {
  padding-top: 10px;
  background-color: gray;
}
